<li>
  <%= link_to author.name, author %>
  <span class ="button">
    <%= link_to "Edit", edit_author_path(author)%> |  
    <%= link_to "Delete", author, method: :delete,
                                     data: { confirm: "You sure?" } %>
  </span>
</li>