<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      List of books you want to borrow:</p>
     <% @books = @request.books %>
    <p><% @books.each do |b|%></p>
    <p><%= b.name %></p>
    <%end%>
  </body>
</html>