<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <% @books = @request.books %>
    <% if @request.verify==1 %>
    <%= render 'accept' %>
    <% else %>
    <%= render 'decline' %>
    <% end %>
    
  </body>
</html>