<% provide(:title, "Requests") %>
<h1>List Request</h1>
<% if logged_in? %> 
	<%= will_paginate %>
	<ul class="requests">
		<% if current_user.role ==1 && !current_user?(@user) %>
		 	<%= render @requests %>
		<% else %>
		 	<%= render @requests.where(user_id: current_user.id)%>
		<% end %>
	</ul>
	<%= will_paginate %>
<% end %>



