<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@request_detail) do |f| %>
    
	     <%= f.number_field :number, :max => @book.quantity, :min => 1 , class: 'form-control' %>
	     <%= f.submit "Borrow", class: "btn btn-primary" %>
     
    <% end %>
  </div>
</div>  
