<tr>
	<td><%= current_user.name %></td>
	<td><%= current_user.email%></td>
	<td><%= c.requests[0].datefrom %></td>
	<td style="color: orange"><%= check_status(c) %></td>
	<td style="text-align: center"><i class="fa fa-trash"></i></td>
</tr>
