<%= render "banner" %>

<div class="table-users">
   <div class="header">Carts</div>
   
   <table cellspacing="0">
      <tr>
         <th>Book</th>
         <th>Available</th>
         <th>Get</th>
         <th style="width: 70px;">DayFrom</th>
         <th style="width: 70px;">DayTo</th>
         <th style="width: 10px;">Option</th>
      </tr>
      <% @requests.each do |r|  %>
        <%= render partial: "carts/request", object: r, as: :r %>
      <% end %>
   </table>
</div>
<div style="float:right; margin-right: 19%">
    <%= link_to "Borrow", confirm_cart_path %>
</div>

<script type="text/javascript">
 
 link = window.location.href
 var dateto = Array.from(document.querySelectorAll("#request_dateto"));
 var quantity = Array.from(document.querySelectorAll("#request_quantity_get"));

 function update_params(){
   var arr1 = dateto.map(d=>d.value);
    var arr2 = quantity.map(q=>q.value);
    $('input').each(function(index){  
        var input = $(this);
      {
              $.ajax({
                type: "POST",
                url: "/get_request_params",
                data: {dateto: arr1, number: arr2},
                dataType: "json",
                success: function(res)
                {
                  console.log(res)
                },
                error: function(err)
                {
                  console.log(err)
                }
              })

        }
    }
    );
  }
  update_params() 
  for (var i = 0; i < dateto.length; i++) {
    dateto[i].addEventListener("change", function() {
      update_params()
    });
  }
  for (var i = 0; i < quantity.length; i++) {
    quantity[i].addEventListener("change", function() {
      update_params()
    });
  }
</script>