    
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin background-tile {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 6px #ccc;
  padding: 1.5em 1.25em;
}


/* universal */

body {
    padding-top: 60px;
  }
  
  section {
    overflow: auto;
  }
  
  textarea {
    resize: vertical;
  }
  
  .center {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }
  }
  
  /* typography */
  
  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }
  
  h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.7em;
  }
  
  
  /* header */
  
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
  
  /* footer */
  
  footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a {
      color: $gray;
      &:hover {
        color: $gray-darker;
      }
    }
    small {
      float: left;
    }
    ul {
      float: right;
      list-style: none;
      li {
        float: left;
        margin-left: 15px;
      }
    }
  }
  
  /* miscellaneous */
  
  .debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
  }
  
  /* sidebar */
  
  aside {
    section.user_info {
      margin-top: 20px;
    }
    section {
      padding: 10px 0;
      margin-top: 20px;
      &:first-child {
        border: 0;
        padding-top: 0;
      }
      span {
        display: block;
        margin-bottom: 3px;
        line-height: 1;
      }
      h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
      }
    }
  }
  
  .gravatar {
    float: left;
    margin-right: 10px;
  }
  
  .gravatar_edit {
    margin-top: 15px;
  }
  
  .stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
    a {
      float: left;
      padding: 0 10px;
      border-left: 1px solid $gray-lighter;
      color: gray;
      &:first-child {
        padding-left: 0;
        border: 0;
      }
      &:hover {
        text-decoration: none;
        color: blue;
      }
    }
    strong {
      display: block;
    }
  }
  
  .user_avatars {
    overflow: auto;
    margin-top: 10px;
    .gravatar {
      margin: 1px 1px;
    }
    a2 {
      padding: 0;
    }
  }
  
  .users.follow {
    text-transform: uppercase;
    border-color: #4090db;
    color: #4090db;
    margin-left: 20px;
    &:visited, &:focus, &:hover {
      border-color: #2D6396;
      color: #2D6396;
    }
    padding: 100px;
  }
  /* forms */
  
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
  }
  
  input {
    height: auto !important;
  }

  input.btn.btn-primary
  {
    margin-top: 10px; // tut xuong
    font-weight: 100px;
    color: #494949 !important;
    background: #ffffff;
    padding: 10px;
    border: 2px solid #494949 !important;
    border-radius: 6px;
    display: inline-block;
    &:hover{
    color: #ffffff !important;
    // background: blue;
    // background: linear-gradient(120deg, rgb(255, 0, 144), rgb(255, 0, 144) 55%, rgb(0, 222, 255), rgb(0, 222, 255) 45%);
    // background: linear-gradient(-60deg, red 50%, yellow 50%);
    background-image: linear-gradient(to right, purple, red );
    // border-color: blue !important;
    transition: all 0.4s ease 0s;
    }
  }
.selected-control{
  height: 50%;
}

.collection_select
{
  background: red;
}
//Error  
  #error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: $state-danger-text;
    }
  }
  .checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
      margin-left: 20px;
      font-weight: normal;
    }
  }
  
  #session_remember_me {
    width: auto;
    margin-left: 0;
  }
  /* Users index */
  
  .users {
    list-style: none;
    margin: 0;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;
    }
  }

  img.resize
  {
    width: 180px;
    height: 40px;
  }

  li
  {
    font-size: 20px;
  }
  
 
  a.btn.btn-primary
  {
    display: inline-block;
    text-align: center;
    text-decoration: none;
  
    /* create a small space when buttons wrap on 2 lines */
    margin: 2px 0;
  
    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;
  
    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;
  
    /* make sure colors have enough contrast! */
    color: #ffffff;

  }
  a.btn.btn-primary.edit {
    /* default for <button>, but useful for <a> */
    
    background-color: green;
    &:hover
    {
      color: green;
      border-color: currentColor;
      background-color: white;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
                0 0 0 1.5px rgba(255, 105, 180, 0.5);
    }
    
  }
  a.btn.btn-primary.delete {
    /* default for <button>, but useful for <a> */
    background-color: red;
    &:hover{
      color: red;
      border-color: currentColor;
      background-color: white;
    }

    &:focus{
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
                0 0 0 1.5px rgba(255, 105, 180, 0.5);
    }
  
  }
 a.btn.btn-primary.borrow {
    /* default for <button>, but useful for <a> */
    background-color: #8A33FF;

    &:hover{
      color: red;
      border-color: currentColor;
      background-color: white;
    }

    &:focus{
      outline: none;
      box-shadow: 0 0 0 3px rgba(255, 105, 180, 0.5),
                0 0 0 1.5px rgba(255, 105, 180, 0.5);
    }
  
  } 
//list author, book, category,user
.authors,.books,.categories,.users,.requests  {
  list-style: none;
  margin: 0;

  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
    padding-right: 3%
  }
  span
  {
    float: right;
    border-right: 100px;
  }
}

// soto
.row.heading h2 {
    color: #fff;
    font-size: 52.52px;
    line-height: 95px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 40px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
ul{
  margin:0;
  padding-left:30px;
  list-style:none;

}
// book
.book{
  height: 350px;
  width: 250px;
  @include background-tile;
}
.book-show
{
  height: 480px;
  width: 350px;
  @include background-tile;
}
.book_cart
{
  height: 150px;
  width: 90px;
}
.btn.btn-warning
{
  float: right;
  margin-right: 60px;
  margin-bottom: 60px;
}
// .book .user
// {
//   height: 100px;
//   width: 70px;
// }

.star-rating
{
   border-bottom: 1px solid rgba(0,0,0,.09);
   padding: 1rem 0;
   padding-left: 1.25rem;
   img
   {
     margin-top: .375rem;
   }
}
.btn.btn-danger
{
  margin-top: 10px;
  width: 350px;

}