<% provide :title, @category.name %>
<h1><%= @category.name+"(#{@category.bookofcategory.count})" %></h1>

<div>
  <ul class="books">
       <%= render "book"%>     
  </ul> 
  <h2><%= link_to "Add book", new_book_path %></h2>
</div>

